* {
  /*전체 선택자*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: linen; /*전체배경색*/
}

ul {
  list-style-type: none;
}

.navbar {
  /* class선택자 : .으로 시작함 */
  background-color: black;
  color: white; /*글자색*/
  height: 60px; /*background color 높이*/
}

.container {
  max-width: 1100px;
  margin: 0% auto;
  padding: 0 30px; /*좌우*/
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*좌우로 나눔*/
  align-items: center; /*상하 가운데 정렬*/
  height: 100%; /*더깔끔하게 정렬*/
}

.navbar ul {
  display: flex; /* 일렬로 정렬 */
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  color: #fff; /*글자색통일*/
  text-decoration: none; /*밑줄제거*/
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  /*hover : 마우스가 올라갔을때*/
  border-bottom: 1px #fff solid; /*밑줄*/
  color: aquamarine;
}

/* .navbar a:active {
  color: rgb(128, 165, 230);
}

.navbar a:focus {
  touch-action: auto;
  color: burlywood;
} */

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

button {
  padding: 2px 4px; /*버튼 크기 키우기*/
  margin: 2px 4px; /*간격띄기*/
  font: large;
  font-weight: bold;
  background-color: lightgreen;
  border-radius: 5px; /*모서리를 둥글게*/
}

button:hover {
  color: red;
  background-color: yellow;
}

.main {
  color: darkblue;
  line-height: 2;
}

#time {
  background-color: chartreuse;
  font-size: larger;
  font-weight: bolder;
  padding-left: 1rem;
  padding-right: 1rem;
}

td,
th {
  /* 그룹선택자 */
  border: 1px solid #cc0606;
  text-align: left;
  padding: 8;
  font-weight: bold;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  width: 450px;
}
